
<% users.forEach(element => { %>
 <div>
     <img src=<%= element.imageUrl %> alt="">        
         <h5> email: <%= element.email %>  </h5>
          <% if (element.suspended){ %> 
            <h5 class="badge badge-danger"> suspended </h5> 
            <a href=<%= "/admin/user/activate/" + element.id %> class="badge"> activate </a>              
         <% }else{ %>
            <h5 class="badge badge-success"> active </h5>  
            <a href=<%= "/admin/user/deactivate/" + element.id %> class="badge "> deactivate </a>                            
        <% } %>   
        <a href=<%= "/admin/user/edit/" + element.id %>  >Edit</a>         
  </div>     
<% }) %>
<a href="/dashboard" class= "btn-primary btn-block">return to dashboard</a>